.img {
  grid-area: img;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 580px) {
  .img {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 768px) {
  .img {
    width: 195px;
    height: 195px;
  }
}
